html, body {
    margin: 0;
    height: 100%;
}

.application{
  background-color: #b7d2ff;

}

#header{
  position: fixed;
  color: white;
  padding: 0px 10px;
  display: inline-block;
  background-color: #5895ef;
  box-shadow: 0px 3px 5px black;
  width: calc(100% - 20px);
}

#header .defoq{
  color: #404142;
}


#panel{
  border-radius : 5px;
  display: inline-block;
  width: calc(100% - 50px);
  color: gray;
  background-color: white;
  margin : 35px 5px 5px 15px;
  padding: 0px 10px;
  text-align: center;
}

#panel .button{
  background-color: white;
  margin: 5px 5px;
  display: inline-block;
  /*width: calc(50% - 22px);*/
  border-width: 0px;
  color: gray;
  border-right: solid 1px gray;
  border-left: solid 1px gray;
  border-radius: 10px;
  font-size: 20px;
}

#panel .button:hover{
  transition: 1.0;
  background-color: black;
  color: white;
}

#panel .button:focus{
  transition: 1.0;
  background-color: black;
  color: white;
}

#panel .clicked{
  background-color: black;
  color: white;
}
